hi1 {
                    float: left;
                    width: 40%;
                    font-size: 12pt;
                    }
hi2 {
                    float: right;
                    width: 60%;
                    font-size: 12pt;
                    font-style: normal;
                    font-weight: normal;
                    }
hi3 {
font-weight: normal;
                    
}